#contact-form
    background-color: #ffc66c
    border-radius: 5px

#sendbutton
    background-color: #ffc66c

.input:active, .input:focus, .input.is-active, 
.textarea:active, .textarea:focus, .textarea.is-active
    border-color: #ffc66c

.is-flex-mobile.mail
    justify-content: center