$orange: #FF851B

.footer
    background-color: $orange
    border-bottom: 3px solid #111
    border-top: 3px solid #111

.is-orange
    background: linear-gradient(109deg, $orange, #ffc86f);

a.footer-social
    text-decoration: none
    width: 25%
    height: 100%


.footer a:not(.icon), .footer a:visited:not(.icon)
    border-bottom: none

.icon-container
    height: 25px
    justify-content: center
    align-items: center
    align-content: center

.social-footer-span
    min-width: 110px
    flex-basis: 150px
    margin-right: 10px
    line-height: 1
    font-size: 2em
    color: white

.fa
    flex-basis: 30px
    line-height: 1
    font-size: 2em
    color: white