$orange: #FF851B

.footer
    background-color: $orange
    border-bottom: 3px solid #111
    border-top: 3px solid #111

.is-orange
    background: linear-gradient(109deg, $orange, #ffc86f);

a.footer-social
    text-decoration: none
    width: 25%
    height: 100%
    background-color: #FFF
    line-height: 100%


.footer a:not(.icon), .footer a:visited:not(.icon)
    border-bottom: none

i.fa
    width: 20
    height: 20