$orange: #FF851B

header
    border-bottom: 3px solid black

.header-name
    font-family: 'Bangers', cursive

.header-color
    background-color: $orange

.header-list-item
    list-style-type: none
    color: #fff

.header-name-link
    color: black