.border-me
    border: 1px solid black

$orange: #FF851B

header
    border-bottom: 3px solid black

.header-name
    font-family: 'Bangers', cursive

.header-color
    background-color: $orange

.header-list-item
    list-style-type: none
    color: #fff
    display: flex
    justify-content: center
    align-items: center

.header-name-brand
    font-size: 3em
    color: black

.header-name-link
    color: black

.header-pages-container
    display: flex
    justify-content: flex-end
    align-content: center
    border: 1px solid black

.header-pages-container li
    margin-left: 20px
    font-size: 1.5em

.header
    height: 95px